
# Claude Code
.claude/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Generated report folders
allure-results/
allure-results-demo/
allure-report/
allure-report-demo/
playwright-report/
main-html-report/
demo-html-report/
